<div class="background-white p20 mb30">
    <h3 class="page-title">
        Contact Information
    </h3>

    <div class="row">
        {{ form_start(profilForm) }}
        <div class="form-group col-sm-12">
            {{ form_row(profilForm.eMail) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-6">
            {{ form_row(profilForm.nom) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-6">
            {{ form_row(profilForm.eMailContact) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-8">
            {{ form_row(profilForm.adresseRue) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-4">
            {{ form_row(profilForm.adresseNumero) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-4">
            {{ form_row(profilForm.codePostal) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-4">
            {{ form_row(profilForm.localite) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-4">
            {{ form_row(profilForm.commune) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-6">
            {{ form_row(profilForm.numTel) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-6">
            {{ form_row(profilForm.numTVA) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-12">
            {{ form_row(profilForm.siteInternet) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-12">
            {{ form_row(profilForm.categorieDeServices) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-12">
            {{ form_row(profilForm.image) }}
        </div><!-- /.form-group -->
        <button type="submit" class="btn btn-primary pull-right">Save</button>
        {{ form_end(profilForm) }}
    </div><!-- /.row -->
</div>



