<div class="background-white p20 mb30">
    <h3 class="page-title">
        Contact Information
        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
    </h3>

    <div class="row">
        <div class="form-group col-sm-6">
            <label>Nom</label>
            <input type="text" class="form-control" value={{ user.nom }}>
        </div><!-- /.form-group -->

        <div class="form-group col-sm-6">
            <label>website</label>
            <input type="text" class="form-control" value={{ user.siteInternet }}>
        </div><!-- /.form-group -->

        <div class="form-group col-sm-6">
            <label>E-mail</label>
            <input type="text" class="form-control" value={{ user.eMailContact }}>
        </div><!-- /.form-group -->

        <div class="form-group col-sm-6">
            <label>Tél</label>
            <input type="text" class="form-control" value={{ user.numTel }}>
        </div><!-- /.form-group -->

        <div class="form-group col-sm-6">
            <label>Personne de contact (email)</label>
            <input type="text" class="form-control" value={{ user.eMail }}>
        </div><!-- /.form-group -->

        <div class="form-group col-sm-6">
            <label>TVA</label>
            <input type="text" class="form-control" value={{ user.numTVA }}>
        </div><!-- /.form-group -->
    </div><!-- /.row -->
</div>