{{ form_start(registrationForm) }}
    <div class="form-group">
        {{ form_row(registrationForm.roles) }}
    </div><!-- /.form-group -->
    <div class="form-group">
        {{ form_row(registrationForm.eMail) }}
    </div><!-- /.form-group -->
    <div class="form-group">
        {{ form_row(registrationForm.password) }}
    </div><!-- /.form-group -->

    <button type="submit" class="btn btn-primary pull-right">Register</button>
{{ form_end(registrationForm) }}