<div class="mb80">
    <div class="detail-banner" style="background-image: url({{ prestataire.image.first.image }})">
        <div class="container">
            <div class="detail-banner-left">
                <div class="detail-banner-info">
                    <div class="detail-label"><a href={{ path('categorie_de_service', {id: prestataire.categorieDeServices.first.id}) }}>{{ prestataire.categorieDeServices.snapshot[0].nom }}</a></div>

                    <div class="detail-verified">Verified</div>
                </div><!-- /.detail-banner-info -->

                <h2 class="detail-title">
                    {{ prestataire.nom }}
                </h2>

                <div class="detail-banner-address">
                    <i class="fa fa-map-o"></i> {{ prestataire.adresseRue }} {{ prestataire.adresseNumero }}<br>
                    {{ prestataire.codePostal.codePostal }} {{ prestataire.commune.commune }}
                </div><!-- /.detail-banner-address -->

                <div class="detail-banner-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div><!-- /.detail-banner-rating -->

                <div class="detail-banner-btn bookmark">
                    <i class="fa fa-bookmark-o"></i> <span data-toggle="Bookmarked">Bookmark</span>
                </div><!-- /.detail-claim -->

                <div class="detail-banner-btn heart">
                    <i class="fa fa-heart-o"></i> <span data-toggle="I Love It">Give Heart</span>
                </div><!-- /.detail-claim -->

            </div><!-- /.detail-banner-left -->
        </div><!-- /.container -->
    </div><!-- /.detail-banner -->

</div>