<h2>Promotions:</h2>
{% for promotion in promotions %}
    <div class="posts mt30">
        <div class="post post-boxed">
            <div class="post-image">
                <img src="https://via.placeholder.com/150" alt="image {{ promotion.nom }}">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->

            <div class="post-content">
                <h2><a href="blog-detail.html">{{ promotion.nom }}<a></h2>
                <p>{{ promotion.description }}</p>
            </div><!-- /.post-content -->

            <div class="post-meta clearfix">
                <div class="post-meta-author"><i class="fa">By</i>{{ promotion.prestataire.nom }}</div><!-- /.post-meta-author -->
                <div class="post-meta-date"><i class="fa fa-calendar-check-o"></i>{{ promotion.debut|date("d/m/Y") }}</div><!-- /.post-meta-date -->
                <div class="post-meta-date"><i class="fa fa-calendar-times-o"></i>{{ promotion.fin|date("d/m/Y") }}</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i><a href="blog-detail.html">Catégorie</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
    </div>
{% endfor %}