<h2 class="widgettitle">Stages:</h2>
{% for stage in stages %}
    <div class="cards-small">
        <div class="card-small">
            <div class="card-small-image">
                <a href="#">
                    <img src="https://via.placeholder.com/150" alt="image {{ stage.nom }}">
                </a>
            </div><!-- /.card-small-image -->

            <div class="card-small-content">
                <h3><a href="#">{{ stage.nom }}</a></h3>
                <h4><a href="#">{{ stage.description }}</a></h4>
                <div class="card-small-price">
                    <div>
                        <span class="mr15"><i class="fa fa-calendar-check-o"> {{ stage.debut|date("d/m/Y") }}</i></span>
                        <span class="mr15"><i class="fa fa-calendar-times-o"> {{ stage.fin|date("d/m/Y") }}</i></span>
                        <span class="mr15"><i class="fa fa-credit-card"> {{  stage.tarif }} &#8364</i></span>
                    </div>
                </div>
            </div><!-- /.card-small-content -->
        </div><!-- /.card-small -->
    </div><!-- /.cards-small -->
{% endfor %}


