<div class="col-sm-6">
    <div class="card" style="background-image: url({{ prestataire.image }})">
        <div class="card-label">
            <a href="{{ prestataire.siteInternet }}">{{ prestataire.siteInternet  }}</a>
        </div><!-- /.card-label -->

        <div class="card-content">
            <h2><a href={{ path('prestataire_id', {id: prestataire.id}) }}>{{ prestataire.nom }}</a></h2>

            <div class="card-meta">
                <i class="fa fa-map-o"></i> {{ prestataire.adresseRue }} {{ prestataire.adresseNumero }} <br>
                {{ prestataire.codePostal }} - {{ prestataire.commune }}
            </div><!-- /.card-meta -->

            <div class="card-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div><!-- /.card-rating -->

            <div class="card-actions">
                <a href={{ path('prestataire_id', {id: prestataire.id}) }} class="fa fa-search"></a>
            </div>
        </div><!-- /.card-content -->
    </div><!-- /.card -->
</div>